@model EventosTestMVC.Models.Evento

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>
<html>
<head>
    <title>Detalles del Evento</title>
    <!-- Coloca aquí tus enlaces a hojas de estilo, scripts, etc. -->
</head>
<body>

    <div class="container">
        <div class="col-md-12">
            <div class="row" style="margin-block-start: 55px;">
                <div class="col-sm-6">
                    <div class="card" id="horayagenda">
                        <div class="card-body text-center">
                            <img src="~/img/reloj.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
                            <h5 class="card-title" style="margin: 5px;font-weight: bold;font-size: 25px;">
                               @Model.DiasRestantes días @Model.HorasRestantes horas @Model.MinutosRestantes minutos

                            </h5>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card-body text-center">
                        <div class="container">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <div>
                                        <h5>@Model.Nombre</h5>
                                        <p>Fecha: @Model.Fecha.ToShortDateString()</p>
                                        <p>Hora: @Model.Hora</p>
                                        <p>Lugar: @Model.Lugar</p>
                                        <p>Tipo de Evento: @Model.TipoEvento.Nombre</p>
                                        <p>Código de Vestimenta: @Model.CodigoVestimenta.Nombre</p>
                                        <p>Lista de Cosas a Llevar: @Model.ListaCosasLlevar</p>
                                        <p>Clave: @Model.Clave</p>
                                        <p>Creador del Evento: @Model.CreadorEvento.Nombre @Model.CreadorEvento.Apellido</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Coloca aquí tus scripts si es necesario -->

</body>
</html>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
