@model EventosTestMVC.Models.ViewModel.RegistroViewModel

@{
}

<h1>Editar Perfil</h1>
<div class="container my-5">
    <div class="row align-items-center justify-content-center h-100">
        <div class="col-4">
            <form asp-action="Editar" asp-controller="Usuario" method="post">

                <div class="mb-3">
                    <label asp-for="@Model.Usuario.Nombre" class="form-label">Nombre</label>
                    <input class="form-control" asp-for="@Model.Usuario.Nombre">
                    <span asp-validation-for="@Model.Usuario.Nombre" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Usuario.Apellido" class="form-label">Apellido</label>
                    <input class="form-control" asp-for="@Model.Usuario.Apellido">
                    <span asp-validation-for="@Model.Usuario.Apellido" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Usuario.Email" class="form-label">Email</label>
                    <input class="form-control" asp-for="@Model.Usuario.Email">
                    <span asp-validation-for="@Model.Usuario.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Usuario.Password" class="form-label">Contraseña</label>
                    <input class="form-control" asp-for="@Model.Usuario.Password" readonly>
                    <span asp-validation-for="@Model.Usuario.Password" class="text-danger"></span>
                </div>

                <!-- Div circular para mostrar el avatar -->
                <div class="avatar-container">
                    <img src="@Url.Content(Model.Usuario.AvatarUser?.RutaJson)" alt="Avatar" class="avatar-img">
                </div>

                <button type="submit" class="btn btn-primary rounded-pill px-5 align-self-center">Registrar</button>
            </form>

        </div>
    </div>
</div>

<style>
    .avatar-container {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .avatar-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>
