@model EventosTestMVC.Models.ViewModel.RegistroViewModel

@{
}

<h1>Editar Perfil</h1>
<div class="container">
    <div class="row" style="margin-block-start: 55px;">
        <div class="col-md-6 text-center">
            <div class="container" style="width: fit-content;">
                <img src="img/f.jpg" class="w-50 p-3 text-center" alt="..." style="text-decoration-line: none;">
            </div>
            <div>
                <a asp-action="SelectAvatar" asp-controller="AvatarUser"><img style="width: 55px; height: 55px; margin-left: 270px;" style="width: fit-content;" src="img/usu.png" /></a>
            </div>
            <h1>Tu</h1>
        </div>

        <div class="col-sm-6">
            <form asp-action="Editar" asp-controller="Usuario" method="post">
                <div class="mb-3">
                    <label asp-for="@Model.Usuario.Nombre" class="tit form-label">Nombre</label>
                    <input class="form-control" asp-for="@Model.Usuario.Nombre">
                    <span asp-validation-for="@Model.Usuario.Nombre" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Usuario.Apellido" class="form-label">Apellido</label>
                    <input class="form-control" asp-for="@Model.Usuario.Apellido">
                    <span asp-validation-for="@Model.Usuario.Apellido" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Usuario.Email" class="form-label">Gmail</label>
                    <input class="form-control" asp-for="@Model.Usuario.Email">
                    <span asp-validation-for="@Model.Usuario.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Usuario.Password" class="form-label">Password</label>
                    <input class="form-control" asp-for="@Model.Usuario.Password" readonly>
                    <span asp-validation-for="@Model.Usuario.Password" class="text-danger"></span>
                </div>
                <div class="d-grid gap-2">
                    <button class="subir" type="submit" style="font-weight: 550;">EDITAR PERFIL</button>
                </div>
            </form>
        </div>
    </div>
</div>
