@model EventosTestMVC.Models.ViewModel.AgregarInsumoViewModel
@{
}

<div class="container my-5 bg-light">
    <div class="row align-items-center justify-content-center h-100">
        <div class="col-4">
            <form asp-action="AgregarInsumo" asp-controller="Evento" method="post">
                <div class="mb-3">
                    <label asp-for="@Model.Supply.Description" class="form-label">Descripcion</label>
                    <input class="form-control" asp-for="@Model.Supply.Description" required>

                </div>

                <div class="mb-3">
                    <label asp-for="@Model.Supply.Quantity" class="form-label">Contraseña</label>
                    <input class="form-control" asp-for="@Model.Supply.Quantity" min="1"  required>

                </div>

                <input class="form-control" asp-for="@Model.EventoId" hidden>
                <input class="form-control" asp-for="@Model.Supply.CategoryId" hidden>


                <button type="submit" class="btn btn-primary rounded-pill px-5">Cargar</button>

            </form>

        </div>
    </div>
</div>
