@model EventosTestMVC.Models.ViewModel.CrearEventoViewModel
@{
}

<div class="position-absolute top-0 start-0" style="margin-top: 40px; margin: 25px;">
    <a asp-area="" asp-controller="Home" asp-action="Index">
        <img style="width: 30px; height: 30px;position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex;" style="width:fit-content;" src="~/img/atras.png" class="text-center " />
        <img style="width: 55px; height: 55px;position: absolute; margin-left: 40px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex;" style="width:fit-content;" src="~/img/logo.png" class="text-center " />
    </a>
</div>
<form asp-action="CrearNuevoEvento" asp-controller="Evento" method="post" class="section-create" style="margin-top: 140px;">
    <div class="row">
        <div class="col-md-5 col-md-6 ">
            <div class="abj">
                <!--IZQUIERDA-->
                <div class="container ">
                    <div class="col-md-12 ">
                        <h2 class="text-white text-center">Datos del evento</h2> <hr />
                        <!--fecha y hora-->
                        <div class="input-group mb-6">
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3 form-floating">
                                        <label asp-for="@Model.Evento.FechaDeEvento" for="floatingInputGridFecha" style="color: black">Fecha</label>
                                        <input class="form-control" id="floatingInputGridFecha" asp-for="@Model.Evento.FechaDeEvento">
                                        <span asp-validation-for="@Model.Evento.FechaDeEvento" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input class="form-control" asp-for="@Model.Evento.Descripcion" placeholder="Lugar del evento" aria-label="clave" aria-describedby="basic-addon1">
                            <span asp-validation-for="@Model.Evento.Descripcion" class="text-danger"></span>
                    
                </div>
                        <!--codigo de vestimenta-->
                        <div class="mb-3">
                            <div class="form-floating">
                                <select asp-for="@Model.Evento.CodigoVestimentaId" asp-items="@Model.CodigoDeVestimenta" class="form-select" id="CodigoVestimentaId">
                            <option selected disabled>--- Seleccionar ---</option>
                        </select>
                                <label asp-for="@Model.Evento.CodigoVestimentaId" for="CodigoVestimentaId" style="color: black;">Codigo Vestimenta</label>
                            </div>
                        </div>

                        <!--lista de cosas a llevar-->
                        <div class="mb-3">
                           <textarea  class="form-control" placeholder="Lista de cosas a llevar" style="height: 100px"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 offset-md-1 col-md-5 offset-md-0">
            <div class="container-fluid">
                <h4 class="alto text-center"></h4>
                <div class="tit mb-3">
                    <div class="mb-3">
                            <label asp-for="@Model.Evento.Titulo" class="form-label">Titulo</label>
                            <input class="form-control" asp-for="@Model.Evento.Titulo">
                            <span asp-validation-for="@Model.Evento.Titulo" class="text-danger"></span>
                </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <select asp-for="@Model.Evento.TipoEventoId" asp-items="@Model.TipoDeEvento" class="form-select" aria-label="Tipo de evento">
                                <option selected disabled>--- Seleccionar ---</option>

                            </select>
                            <label asp-for="@Model.Evento.CodigoVestimentaId" for="TipoEventoId" style="color: black;">Codigo Vestimenta</label>
                        </div>
                    </div>

                <div class="mb-3">
                    <label asp-for="@Model.usuarioId" class="form-label">id usuario</label>
                    <input class="form-control" asp-for="@Model.usuarioId">
                    <span asp-validation-for="@Model.usuarioId" class="text-danger"></span>

                </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn" id="boton">CREAR EVENTO</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
